<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  <div class="wrapper">
    {{ content }}
  </div>
  
  {% include analytics.html %}
  <div class="content-box clearfix">
    {{ content }}
  </div>
  <div id="skills">
    <h2 class="heading">Skills</h2>
    <ul>
      <li>JavaScript</li>
      <li>Node.js</li>
      <li>AngularJs</li>
      <li>React</li>
      <li>Java</li>
      <li>Spring</li>
      <li>Hadoop</li>
      <li>Kafka</li>
      <li>hive</li>
    </ul>
  </div>
</body>
</html>
